@using BlazorWeb.Helper
@inject IJSRuntime _JSRuntime

<div>
    <div class="alert alert-info">
        @Title
    </div>
    @if (ChildSomeContent != null)
    {
        <div class="alert alert-success">
            @ChildSomeContent
        </div>
    }
     @if (ChildContent != null)
    {
        <div class="alert alert-warning">
            @ChildContent
        </div>
    }
    <button class="btn btn-danger" @onclick="OnButtonClick">>click Me</button>
    <_GrandChildComponent MessageForGrandChild="@MessageForGrandChild"/>
</div>


@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildSomeContent { get; set; }

     [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnButtonClick { get; set; }

    [Parameter]
    public string MessageForGrandChild { get; set; }

    public async Task ShowSuccessToastr()
    {
        await _JSRuntime.ToastrSuccess("Button clicked in Child Component!", "Child Component");
    }
}